html(lang="en")
title AgeCalculator
head
    meta(charset="UTF-8")/
    meta(http-equiv="X-UA-Compatible" content="IE=edge")/
    meta(name="viewport" content="width=device-width, initial-scale=1.0")/
    link(href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous")/
    script(src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4" crossorigin="anonymous")
    <nav class="navbar navbar-light bg-light">
        <div class="container-fluid">
          <a class="navbar-brand" href="#">Pascaline</a>
        </div>
    </nav>
        <body>

            div(class="container")
                h1 AgeCalculator 
                <br/>
                //- - var inputYear = document.forms["dateForm"]["inputYear"].value;                
                //- - var inputMonth = document.forms["dateForm"]["inputMonth"].value;
                //- - var inputDay = document.getElementById("inputDay").value;
                //- - var actionLink = `/${inputYear}/${inputMonth}/${inputDay}/`;
                
                form(onsubmit="return validateForm()" method="post"  name="dateForm")
                    <div class="input-group mb-3">
                        <span class="input-group-text" id="inputGroup-sizing-default">YEAR</span>
                        input(type="number" autofocus class="form-control" name="inputYear" id="inputYear" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default")
                    </div>

                    <div class="input-group mb-3">
                        <label class="input-group-text" for="inputMonth">MONTH</label>
                        <select class="form-select" name="inputMonth" id="inputMonth">
                            - const monthsOptions = {"January": 1,"February": 2,"March": 3,"April": 4,"May": 5,"June": 6,"July": 7,"August": 8,"September": 9,"October": 10,"November": 11,"December": 12 };
                            for num, month in monthsOptions
                                option(value=num)= month
                        </select>
                    </div>

                    <div class="input-group mb-3">
                        <span class="input-group-text" id="inputGroup-sizing-default">DAY</span>
                        input(type="number" min="1" max="31" class="form-control" name="inputDay" id="inputDay" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default")
                    </div>
                    <div class="col text-center">
                        input(type="submit" class="btn btn-primary btn-lg" value="Calculate")
                    </div>
            if showMessage
                div(class="alert alert-warning" role="alert")= theMessage
            else if !showMessage && theMessage == "Thank you"
                div(class="alert alert-success" role="alert")= theMessage

            if showTimes
                if age_years != 0
                    h1 #{age_years} Years Old
                if age_months != 0
                    h1 #{age_months} Months
                if age_days != 0
                    h1 #{age_days} Days


            script(type='text/javascript').
                function validateForm() {
                    var inputYear = document.forms["dateForm"]["inputYear"].value;                
                    var inputMonth = document.forms["dateForm"]["inputMonth"].value;
                    var inputDay = document.forms["dateForm"]["inputDay"].value;

                    var parsedYearInput = parseInt(inputYear);
                    var parsedMonthInput = parseInt(inputMonth);
                    var parsedDayInput = parseInt(inputDay);

                    // Months with only 30 days are 4, 6, 9, 11
                    const monthsWith30days = [4, 6, 9, 11];

                    let ts = Date.now();
                    let date_ob = new Date(ts);
                    var current_year = date_ob.getFullYear();

                    if (inputYear != "" && inputDay != ""){
                        if (parsedYearInput > current_year){
                            alert(`you can't enter a year greater than ${current_year} the current year`)
                            return false
                        }else if (parsedMonthInput == 2 && parsedDayInput > 28){
                            alert("do you know that February only has 28 days")
                            return false;
                        }else if (monthsWith30days.includes(parsedMonthInput) && parsedDayInput > 30){
                            alert("the month you chosen only have 30 days")
                            return false;
                        }else {
                            document.dateForm.action=`/${inputYear}/${inputMonth}/${inputDay}`;
                            return true;
                        }

                    }else {
                        alert("fill the form Please")
                        return false
                    }
                        
                }   